/*-------NORMALIZE---------*/
*, *:before, *:after { box-sizing: border-box;}
body {margin: 0; padding: 0; background-color: #0056B2;}
a {display: inline-block; text-decoration: none; color: #000; font-size: 11px; font-family: sans-serif; padding: 15px 35px; background-color: #000; color: #fff;}
ul {padding: 0; list-style-position: inside;}
img {display: block; width: 100%;}


/*-------GENERAL CLASS---------*/
.container {width: 650px; background-color: #fff; padding: 30px; overflow: hidden;}
.container:first-child {margin: 35px auto 0;}
.container:nth-child(2) {margin: 0 auto; padding: 0;}
.container:last-child {margin: 0 auto 35px;}


/*-------FLEX---------*/
.d-flex {display: flex;}
.wrap {flex-wrap: wrap;}
.direction-col {flex-direction: column;}
.justify-around {justify-content: space-around;}
.justify-center {justify-content: center;}
.justify-between {justify-content: space-between;}
.align-items-center {align-items: center;}
.align-items-end {align-items: flex-end;}
.align-content-center {align-content: center;}


/*-------WIDTH---------*/
.w-100 {width: 100%;}
.w-95 {width: 95%;}
.w-90 {width: 90%;}
.w-80 {width: 80%;}
.w-70 {width: 70%;}
.w-65 {width: 65%;}
.w-60 {width: 60%;}
.w-50 {width: 50%;}
.w-40 {width: 40%;}
.w-35 {width: 35%;}
.w-30 {width: 30%;}
.w-20 {width: 20%;}
.w-10 {width: 10%;}
.w-05 {width: 5%;}



/*-------HEIGHT---------*/
.h-100pc {height: 100%;}
/*======================*/
.h-400 {height: 400px;}
.h-330 {height: 330px;}
.h-320 {height: 320px;}
.h-300 {height: 300px;}
.h-250 {height: 250px;}
.h-220 {height: 220px;}
.h-200 {height: 200px;}
.h-100 {height: 100px;}
.h-88 {height: 88px;}
.h-70 {height: 70px;}
.h-50 {height: 50px;}


/*-------H Tags---------*/
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

/*-------LISTS---------*/
.list-type-none {list-style-type: none;}
.list-type-square {list-style-type: square;}
.family-list {list-style-image: url("../img/family-list-icon.png");}
.cruises-list {list-style-image: url("../img/cruises-list-icon.png");}


/*-------BORDER---------*/
.border-top {border-top: 1px solid #BAD240;}
.border-right {border-right: 1px solid #BAD240;}
.border-bottom {border-bottom: 1px solid #BAD240;}
.border-left {border-left: 1px solid #BAD240;}

.h-70pc {height: 70%;}

/*-------BORDER RADIUS---------*/
.radius {border-radius: 10px;}
.top-radius {border-radius: 10px 10px 0 0; overflow: hidden;}


/*-------BG-COLOR---------*/
.bg-color-logo {background-color: #F8EA00;}
.bg-color-link {background-color: #FF827B;}
.bg-color-white {background-color: #fff;}


/*-------COLOR---------*/
.color-white {color: white;}
.color-black {color: black;}
.color-gray {color: gray;}
.color-pink {color: #FF827B;}


/*-------MARGIN---------*/
.margin-auto {margin: 0 auto;}
.margin-btm-50 {margin-bottom: 50px;}
/*======================*/
.margin-90 {margin: 90px;}
.margin-80 {margin: 80px;}
.margin-70 {margin: 70px;}
.margin-60 {margin: 60px;}
.margin-50 {margin: 50px;}
.margin-40 {margin: 40px;}
.margin-30 {margin: 30px;}
.margin-20 {margin: 20px;}
.margin-10 {margin: 10px;}
.margin-0 {margin: 0;}


/*-------PADDING---------*/
.padding-tb-30 {padding: 30px 0;}
.padding-lr-30 {padding: 0 30px;}
.padding-btm-30 {padding-bottom: 30px;}
.padding-rt-30 {padding-right: 30px;}
.padding-lt-30 {padding-left: 30px;}
/*======================*/
.padding-90 {padding: 90px;}
.padding-80 {padding: 80px;}
.padding-70 {padding: 70px;}
.padding-60 {padding: 60px;}
.padding-50 {padding: 50px;}
.padding-40 {padding: 40px;}
.padding-30 {padding: 30px;}
.padding-20 {padding: 20px;}
.padding-10 {padding: 10px;}
.padding-5 {padding: 5px;}
.padding-4 {padding: 4px;}
.padding-3 {padding: 3px;}
.padding-2 {padding: 2px;}
.padding-1 {padding: 1px;}
.padding-0 {padding: 0;}


/*-------FONT-SIZE---------*/
.font-35 {font-size: 35px;}
.font-25 {font-size: 25px;}
.font-15 {font-size: 15px;}
.font-12 {font-size: 12px;}


/*-------TEXT---------*/
.txt-align-center {text-align: center;}


/*-------CLASSES---------*/

/*==========HEADER==========*/
.logo-area {
	height: 75px;
	border-bottom: 3px solid #000;
}
	.logo h2 {font-size: 30px;}
	.logo span {
		display: inline-block;
		padding: 2px 5px;
		font-size: 9px;
		font-weight: bold;
		margin-left: 5px;
	}
.discount {
	text-align: center;
	padding: 70px 0;
	border-bottom: 1px dashed #000;
}
.discount h1 {font-size: 52px; font-weight: normal;}
.discount h1::last-line {font-weight: bold;}
.discount span {font-size: 22px; color: #0056B2;}
.discount img {padding: 30px 0;}
.best-seller {
	padding: 50px 0 30px;
}
.best-seller > h2, .limited-offer > h2, .footer > h2 {
	text-align: center;
	padding: 30px;
	font-family: sans-serif;
	font-weight: normal;
	letter-spacing: 1px;
}
.limited-time-container .item:first-child {padding-right: 15px;}
.limited-time-container .item:last-child {padding-left: 15px;}
.limited-time-container img {padding-bottom: 30px;}


.coupon-code {
	height: 300px;
	padding: 30px;
	background-color: #FF827B; 
	color: #fff;
}
.white-border {
	text-align: center;
	border: 1px solid #fff;
	padding: 30px;
}
.limited-offer {
	padding-bottom: 100px;
}
.footer {
	padding: 30px;
	border-top: 3px solid #000;
}
.footer>h2 {font-size: 16px;}
.social li {
	padding-right: 15px;
}
.social a {
	box-sizing: content-box;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	width: 40px;
	height: 40px;
	background-color: initial;
	border: 1px solid #000;
	border-radius: 50%;
	color: #000;
}























