/*-------NORMALIZE---------*/
*, *:before, *:after { box-sizing: border-box }
body {margin: 0;padding: 0;}
a {text-decoration: none; color: #898A8C; font-family: sans-serif;}
ul {padding: 0;}

/*-------GENERAL CLASS---------*/
.container {width: 960px;}

/*-------BOX SIZING---------*/
.bs-borderbox {box-sizing: border-box;}

/*-------WIDTH---------*/
.w-100 {width: 100%;}
.w-95 {width: 95%;}
.w-90 {width: 90%;}
.w-80 {width: 80%;}
.w-70 {width: 70%;}
.w-65 {width: 65%;}
.w-60 {width: 60%;}
.w-50 {width: 50%;}
.w-40 {width: 40%;}
.w-35 {width: 35%;}
.w-30 {width: 30%;}
.w-20 {width: 20%;}
.w-10 {width: 10%;}
.w-05 {width: 5%;}

/*-------HEIGHT---------*/
.h-400 {height: 400px;}
.h-300 {height: 300px;}
.h-250 {height: 250px;}
.h-230 {height: 230px;}
.h-200 {height: 200px;}
.h-100 {height: 100px;}
.h-88 {height: 88px;}
.h-70 {height: 70px;}
.h-50 {height: 50px;}


/*-------FLEX---------*/
.d-flex {display: flex;}
.justify-around {justify-content: space-around;}
.justify-center {justify-content: center;}
.justify-between {justify-content: space-between;}
.align-items-center {align-items: center;}
.align-items-end {align-items: flex-end;}

/*-------H Tags---------*/
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

/*-------LISTS---------*/
.list-type-none {list-style-type: none;}
.list-type-square {list-style-type: square;}


/*-------BORDER---------*/
.border-top {border-top: 1px solid #BAD240;}
.border-right {border-right: 1px solid #BAD240;}
.border-bottom {border-bottom: 1px solid #BAD240;}
.border-left {border-left: 1px solid #BAD240;}

/*-------BG-COLOR---------*/
.bg-color-header {background-color: #1D2120;} 
.bg-color-slider {background-color: #454545;}
.bg-color-footer {background: linear-gradient(to bottom, #272928 0%, #1E2221 100%);}
.bg-color-vidget {background-color: #191615;}

/*-------COLOR---------*/
.color-white {color: white;}
.color-black {color: black;}
.color-gray {color: gray;}
.color-header-menu {color: #90908E;}
.color-active-link {color: #B8DC3A;}
.color-copyright {color: #4C504F;}
.color-links {color: #6B6C70;}
.color-logotext {color: #969A8C;}

/*-------BORDER-COLOR---------*/
.color-btm-border {outline: 5px solid #BBD142;}
.color-top-border {outline: 5px solid #BBD142;}

/*-------MARGIN---------*/
.margin-auto {margin: 0 auto;}
/*======================*/
.margin-90 {margin: 90px;}
.margin-80 {margin: 80px;}
.margin-70 {margin: 70px;}
.margin-60 {margin: 60px;}
.margin-50 {margin: 50px;}
.margin-40 {margin: 40px;}
.margin-30 {margin: 30px;}
.margin-20 {margin: 20px;}
.margin-10 {margin: 10px;}
.margin-0 {margin: 0;}

/*-------PADDING---------*/
.padding-90 {padding: 90px;}
.padding-80 {padding: 80px;}
.padding-70 {padding: 70px;}
.padding-60 {padding: 60px;}
.padding-50 {padding: 50px;}
.padding-40 {padding: 40px;}
.padding-30 {padding: 30px;}
.padding-20 {padding: 20px;}
.padding-10 {padding: 10px;}
.padding-0 {padding: 0;}

/*-------FONT-SIZE---------*/
.font-35 {font-size: 35px;}
.font-25 {font-size: 25px;}
.font-15 {font-size: 15px;}
.font-12 {font-size: 12px;}

/*==========HEADER BORDER EFFEKTİ==========*/
.border-effekti {
	border-radius: 22px;
	background: linear-gradient(to bottom, #242827 90%,#1E2221 100%);
}
/*==========FOOTER BORDER EFFEKTİ==========*/
.ft-border-effekti {
	padding: 2px 0 0 20px;
	border-radius: 22px;
	background: linear-gradient(to bottom, #2f2f2f 90%,#4e4e4e 100%);
}

/*==========BUTTON==========*/
.buton-efekti {
	display: inline-block;
	padding: 5px 15px;
	border-radius: 7px;
	font-size: 14px;
	font-weight: bold;
	background: linear-gradient(to bottom, #e4ff96 0%,#94ff00 98%);
}


/*-------CLASSES---------*/

	/*==========HEADER==========*/
	.header > div {height: 100%;}
		.logo-text {padding-bottom: 10px;}
			.logo_container h2 {font-size: 32px;}
			.logo_container span {padding-left: 15px;}

	/*==========SLIDER==========*/
	.slider {
		height: 280px;
		padding-top: 50px 0;
		background: linear-gradient(180deg, #c0c0c0 0%, #4A4A4A 14%);
	}
		.slider > div {height: 100%;}
			.picture { 
				overflow: hidden;
				outline: 1px solid black;
				border: 10px solid silver;
				border-image-source: linear-gradient(75deg, gray, white);
			  	border-image-slice: 1;
			}
				.picture img {
					object-fit: cover;
					object-position: -325px -60px;
				}

			.information {padding-left: 40px;}

	/*==========MAIN==========*/
		/*<==========MEQALE==========>*/
		.main {padding: 70px 0;}
			.meqale {padding-right: 50px;}
			.meqale .d-sol-borderli {border-left: 10px solid #BAD240; padding-left: 15px;}

		/*<==========ASIDE==========>*/
		.basliq {
			display: block;
			height: 40px;
			background: linear-gradient(to bottom, rgba(58,58,58,1) 0%, rgba(89,89,89,1) 100%);
			text-indent: 20px;
			line-height: 40px;
		}
		.vidget > div:nth-of-type(odd) {
			background-color: #EFEFEF;
		}
		.vidget > div:nth-of-type(even) {
			background-color: #DFDFDF;
		}
			.item {
				padding: 20px;
			}
				.d-sekil {
					width: 100px;
					height: 100px;
					overflow: hidden;
				}
					.viget-picture {
						object-fit: contain;
						width: 100px;
						height: 100px;
						object-fit: cover;
						object-position: -47px 0;
					}
				.d-yazilar {padding-left: 30px;}
					.d-yazilar p {margin: 0; padding: 0;}

	/*==========FOOTER==========*/
	.footer ul {margin: 0;}
	.ft-links {
		width: 20%; 
		padding-top: 30px;
		padding-left: 15px;
		padding-right: 15px;
	}
		.ft-links ul {padding-top: 10px;}
			.ft-links li {padding-left: 18px;}
				.ft-link {
					list-style-type: none; 
					padding: 0;
				}
					.ft-link li {padding: 5px;}
	.copyright span {line-height: 50px;}		


