/*-------NORMALIZE---------*/
*, *:before, *:after { box-sizing: border-box;}
body {margin: 0; padding: 0; background-color: #001E4E;}
a {display: inline-block; text-decoration: none; color: #000; font-family: sans-serif; text-transform: uppercase; font-size: 15px; border-radius: 8px; padding: 10px 20px;}
ul {padding: 0; list-style-position: inside;}
img {display: block;}


/*-------GENERAL CLASS---------*/
.container {width: 650px; margin: 35px auto;}


/*-------FLEX---------*/
.d-flex {display: flex;}
.wrap {flex-wrap: wrap;}
.direction-col {flex-direction: column;}
.justify-around {justify-content: space-around;}
.justify-center {justify-content: center;}
.justify-between {justify-content: space-between;}
.align-items-center {align-items: center;}
.align-items-end {align-items: flex-end;}
.align-content-center {align-content: center;}


/*-------WIDTH---------*/
.w-100 {width: 100%;}
.w-95 {width: 95%;}
.w-90 {width: 90%;}
.w-80 {width: 80%;}
.w-70 {width: 70%;}
.w-65 {width: 65%;}
.w-60 {width: 60%;}
.w-50 {width: 50%;}
.w-40 {width: 40%;}
.w-35 {width: 35%;}
.w-30 {width: 30%;}
.w-20 {width: 20%;}
.w-10 {width: 10%;}
.w-05 {width: 5%;}



/*-------HEIGHT---------*/
.h-100pc {height: 100%;}
/*======================*/
.h-400 {height: 400px;}
.h-330 {height: 330px;}
.h-320 {height: 320px;}
.h-300 {height: 300px;}
.h-250 {height: 250px;}
.h-220 {height: 220px;}
.h-200 {height: 200px;}
.h-100 {height: 100px;}
.h-88 {height: 88px;}
.h-70 {height: 70px;}
.h-50 {height: 50px;}


/*-------H Tags---------*/
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

/*-------LISTS---------*/
.list-type-none {list-style-type: none;}
.list-type-square {list-style-type: square;}
.family-list {list-style-image: url("../img/family-list-icon.png");}
.cruises-list {list-style-image: url("../img/cruises-list-icon.png");}


/*-------BORDER---------*/
.border-top {border-top: 1px solid #BAD240;}
.border-right {border-right: 1px solid #BAD240;}
.border-bottom {border-bottom: 1px solid #BAD240;}
.border-left {border-left: 1px solid #BAD240;}

.h-70pc {height: 70%;}

/*-------BORDER RADIUS---------*/
.radius {border-radius: 10px;}
.top-radius {border-radius: 10px 10px 0 0; overflow: hidden;}


/*-------BG-COLOR---------*/
.bg-color-container {background-color: #fff;}
.bg-color-book {background-color: #FFDB51;}
.bg-color-family {background-color: #00A2E9;}
.bg-link-travel {background-color: #FFDB51;}
.bg-link-book {background-color: #001951;}


/*-------COLOR---------*/
.color-white {color: white;}
.color-black {color: black;}
.color-gray {color: gray;}
.color-book-link {color: #FFDB51;}


/*-------MARGIN---------*/
.margin-auto {margin: 0 auto;}
.margin-btm-50 {margin-bottom: 50px;}
/*======================*/
.margin-90 {margin: 90px;}
.margin-80 {margin: 80px;}
.margin-70 {margin: 70px;}
.margin-60 {margin: 60px;}
.margin-50 {margin: 50px;}
.margin-40 {margin: 40px;}
.margin-30 {margin: 30px;}
.margin-20 {margin: 20px;}
.margin-10 {margin: 10px;}
.margin-0 {margin: 0;}


/*-------PADDING---------*/
.padding-tb-30 {padding: 30px 0;}
.padding-lr-30 {padding: 0 30px;}
.padding-btm-30 {padding-bottom: 30px;}
.padding-rt-30 {padding-right: 30px;}
.padding-lt-30 {padding-left: 30px;}
/*======================*/
.padding-90 {padding: 90px;}
.padding-80 {padding: 80px;}
.padding-70 {padding: 70px;}
.padding-60 {padding: 60px;}
.padding-50 {padding: 50px;}
.padding-40 {padding: 40px;}
.padding-30 {padding: 30px;}
.padding-20 {padding: 20px;}
.padding-10 {padding: 10px;}
.padding-0 {padding: 0;}


/*-------FONT-SIZE---------*/
.font-35 {font-size: 35px;}
.font-25 {font-size: 25px;}
.font-15 {font-size: 15px;}
.font-12 {font-size: 12px;}


/*-------TEXT---------*/
.txt-align-center {text-align: center;}


/*-------CLASSES---------*/

/*==========HEADER==========*/
.logo {padding-left: 30px; }
.logo span {padding-left: 10px; font-weight: bold;}
.social ul {width: 290px;}
.social a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	background-color: #F7F5FA;
	color: #676767;
	border-radius: 50%;
}
