/*-------NORMALIZE---------*/
*, *:before, *:after {box-sizing: border-box;}
html {font-family: 'Myriad Pro';}
body {margin: 0; padding: 0;}
a {text-decoration: none; color: #fff;}
ul {padding: 0;}
img {display: block;}
input, textarea {border: 0; background-color: #E4E8E8; padding: 25px 30px;}


/*------- FONTS Myriad Pro ---------*/
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/MyriadPro-Regular.woff') format('woff'),
        url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
        url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*-------GENERAL CLASS---------*/
.container {position: relative; width: 70%; height: 100%; margin: 0 auto;}

/*-------WIDTH---------*/
.w-100 {width: 100%;}
.w-95 {width: 95%;}
.w-90 {width: 90%;}
.w-80 {width: 80%;}
.w-70 {width: 70%;}
.w-65 {width: 65%;}
.w-60 {width: 60%;}
.w-50 {width: 50%;}
.w-48 {width: 48%;}
.w-40 {width: 40%;}
.w-35 {width: 35%;}
.w-33 {width: 33%;}
.w-30 {width: 30%;}
.w-20 {width: 20%;}
.w-10 {width: 10%;}
.w-05 {width: 5%;}

/*-------HEIGHT---------*/
.h-100pc {height: 100%;}
/*======================*/
.h-400 {height: 400px;}
.h-330 {height: 330px;}
.h-300 {height: 300px;}
.h-250 {height: 250px;}
.h-230 {height: 230px;}
.h-200 {height: 200px;}
.h-100 {height: 100px;}
.h-88 {height: 88px;}
.h-70 {height: 70px;}
.h-50 {height: 50px;}


/*-------FLEX---------*/
.d-flex {display: flex;}
.wrap {flex-wrap: wrap;}
.wrap-reverse {flex-wrap: wrap-reverse;}

.justify-content-start {justify-content: flex-start;}
.justify-content-end {justify-content: flex-end;}
.justify-content-center {justify-content: center;}
.justify-content-around {justify-content: space-around;}
.justify-content-between {justify-content: space-between;}

.align-items-start {align-items: flex-start;}
.align-items-center {align-items: center;}
.align-items-end {align-items: flex-end;}
.align-items-baseline {align-items: baseline;}
.align-items-stretch {align-items: stretch;}

.align-content-start {justify-content: flex-start;}
.align-content-end {justify-content: flex-end;}
.align-content-center {justify-content: center;}
.align-content-between {justify-content: space-between;}
.align-content-around {justify-content: space-around;}

.f-direction-row {flex-direction: row;}
.f-direction-row-reverse {flex-direction: row-reverse;}
.f-direction-column {flex-direction: column;}
.f-direction-column-reverse {flex-direction: column-reverse;}

/*-------H Tags---------*/
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}


/*-------POSITION---------*/
.p-absoulute {position: absolute;}
.p-relative {position: relative;}


/*-------LISTS---------*/
.list-type-none {list-style-type: none;}
.list-type-square {list-style-type: square;}


/*-------BORDER---------*/
.border-top {border-top: 1px solid #fff;}
.border-right {border-right: 1px solid #fff;}
.border-bottom {border-bottom: 1px solid #fff;}
.border-left {border-left: 1px solid #fff;}

/*-------BG-COLOR---------*/
.bg-color-discount {background-color: #62BE77;}

/*-------COLOR---------*/
.color-white {color: white;}
.color-black {color: black;}
.color-gray {color: gray;}

/*-------MARGIN---------*/
.margin-auto {margin: 0 auto;}
.margin-btm-50 {margin-bottom: 50px;}
/*======================*/
.margin-90 {margin: 90px;}
.margin-80 {margin: 80px;}
.margin-70 {margin: 70px;}
.margin-60 {margin: 60px;}
.margin-50 {margin: 50px;}
.margin-40 {margin: 40px;}
.margin-30 {margin: 30px;}
.margin-20 {margin: 20px;}
.margin-10 {margin: 10px;}
.margin-0 {margin: 0;}

.mt-2 { margin-top: 2rem }

/* .mt-90 { margin-top: 90px; }
.m-90 { margin: 90px; }

.py-30 {
	padding-top: 30px;
	padding-bottom: 30px;
} */

/*-------PADDING---------*/
.padding-tb-30 {padding: 30px 0;}
.padding-btm-30 {padding-bottom: 30px;}
.padding-rt-30 {padding-right: 30px;}
.padding-lt-30 {padding-left: 30px;}
/*======================*/
.padding-90 {padding: 90px;}
.padding-80 {padding: 80px;}
.padding-70 {padding: 70px;}
.padding-60 {padding: 60px;}
.padding-50 {padding: 50px;}
.padding-40 {padding: 40px;}
.padding-30 {padding: 30px;}
.padding-20 {padding: 20px;}
.padding-10 {padding: 10px;}
.padding-0 {padding: 0;}

/*-------FONT-SIZE---------*/
.font-35 {font-size: 35px;}
.font-25 {font-size: 25px;}
.font-20 {font-size: 20px;}
.font-15 {font-size: 15px;}
.font-12 {font-size: 12px;}

/*-------TEXT---------*/
.txt-align-center {text-align: center;}
.txt-align-justify {text-align: justify;}

.transform-capitalize {text-transform: capitalize;}
.transform-uppercase {text-transform: uppercase;}
.transform-lowercase {text-transform: lowercase;}





/*================================================================*/
.img-responsive {
	display: block;
	width: 100%;
}

.fit-cover { object-fit: cover }
/*================================================================*/





/*-------CLASSES---------*/
.middle-photos { height: 250px; }

/*==========HEADER==========*/
.header {
	position: relative;
	color: white;
	height: 500px;
	background: #E74C3C url("../img/header.png") center no-repeat;
}
	/*Overlay*/
	.overlay {
		background-color: rgba(224, 183, 181, 0.7); 
		position: absolute; 
		top: 0; bottom: 0; left: 0; right: 0;
	}

		/* Logo | Navigator */
		.nav {height: 27%;}
			/* Menu */
			.menu a {margin-right: 20px;}
			.menu a:first-child {text-decoration: underline;}
		
		/* Intorduce */
		.introduce {height: 55%;}

			/* Centering Div */
			.xycenter {
				width: 65%;
				text-align: center;
			}
				.xycenter h2 {
					font-family: 'Rokkitt';
					font-size: 60px;
				}
				.xycenter h4 {
					font-family: 'Quicksand';
					font-size: 22px;
					padding-top: 10px;
				}

	/* Go Ahead Button */
	.btn {
		position: absolute;
		bottom: -33px;
		background-color: rgba(231, 76, 60, 0.7);
		padding: 6px;
	}	
		.bg-btn {
			background-color: #E74C3C;
			padding: 10px 50px;
			font-size: 24px;
		}
			.bg-go-btn a {font-family: 'Rokkitt';}


/*==========MAIN==========*/
.col {
	position: relative;
}
.main h2, .main h3, .main h4 {color: #E74C3C; }
.main h2, .main h4 {font-family: 'Rokkitt';}

.main > .container {padding: 150px 0;}
	.main .about-site {
		padding-bottom: 75px; 
		border-bottom: 1px solid #E4E8E8;
	}
		.about-site .col {
			width: 270px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
			.about-site .row:nth-child(2) {
				padding-top: 75px; 
			}
				.about-site .xycenter h2 {
					font-family: 'Myriad Pro';
					font-size: 36px;
				}
				.about-site i, .about-site h3 {
					text-align: center !important;
				}
				.about-site i {
					color: #E74C3C;
					font-size: 60px;
					padding-bottom: 30px;
				}
	/* Gallery */
	.gallery {
		padding: 75px 0; 
		border-bottom: 1px solid #E4E8E8;
	}
		.gallery .row:nth-child(1) {
			padding-bottom: 30px;
		}
			.gallery .col2 {
				position: relative;
			}
				/* Search Icon */
				.gallery .col2 .searchicon-bg {
					position: absolute;
					top: 20px; right: 20px;
					padding: 5px;
					background-color: rgba(231, 76, 60, 0.7);
				}
					.gallery .col2 .searchicon {
						background-color: #E74C3C;
						color: #fff;
						padding: 10px 15px;
						font-size: 20px;
					}

			/* Altyazi */
			.gallery .col2 .altyazi-bg {
				position: absolute;
				bottom: 0; left: 0; right: 0;
				padding-top: 7px;
				background-color: rgba(231, 76, 60, 0.7);
			}
				.gallery .col2 .altyazi {
					background-color: #E74C3C;
					color: #fff;
					padding: 30px;
					font-size: 20px;
					font-family: 'Rokkitt';
				}
					.gallery .col2 .altyazi p {margin: 0;}
					.gallery .col2 .altyazi span {
						font-size: 15px;
						color: #9d3b31;
					}
		.gallery .row:nth-child(2) {
			padding-top: 30px;
		}
		.gallery .row:nth-child(3) {
			padding-top: 75px;
		}	

	.contact-form .form-title {
		padding: 75px 0;
	}	
		.form-title h2 {
			font-size: 60px; 
			text-align: center;
		}
	
	.contact-form .form-centering {

	}
		.form-centering .row:nth-child(2) {
			padding-top: 27px;
		}
			.form-centering input:focus, .form-centering textarea:focus {
				outline: 2px solid #E74C3C;
			}
			.form-centering input::placeholder, .form-centering textarea::placeholder {
				color: #CECECE;
				font-size: 30px;
				font-family: 'Rokkitt';
			}


/*==========FOOTER==========*/	
.footer {
	height: 240px; 
	background-color: #E74C3C; 
	color: #fff; 
}

	.social-btn {
		position: relative;
		top: -33px;
		background-color: rgba(231, 76, 60, 0.7);
		padding: 6px;
	}
		.social-btn .sbtn {
			background-color: #fff;
			padding: 25px;
		}
			.social-btn .sbtn i {
				color: #E74C3C;
				font-size: 40px;
				font-weight: bold;
			}
	.footer .copyright {
		height: 35% !important;
	}
		.footer .copyright p {
			margin: 0;
			font-size: 25px;
			font-family: 'Rokkitt';
		}



