/*-------NORMALIZE---------*/
*, *:before, *:after { box-sizing: border-box; outline: 0;}
body {margin: 0; padding: 0; background-color: #C0C0C0;}
a {display: inline-block; text-decoration: none; color: #000; font-size: 11px; font-family: sans-serif; padding: 15px 35px; background-color: #000; color: #fff;}
ul {padding: 0; list-style-position: inside;}
img {display: block; width: 100%;}


/*-------GENERAL CLASS---------*/
.container {width: 385px; height: 335px; margin: 90px auto; background-color: #fff; border-radius: 15px; overflow: hidden;}


/*-------FLEX---------*/
.d-flex {display: flex;}
.wrap {flex-wrap: wrap;}
.direction-col {flex-direction: column;}
.justify-around {justify-content: space-around;}
.justify-center {justify-content: center;}
.justify-between {justify-content: space-between;}
.align-items-center {align-items: center;}
.align-items-end {align-items: flex-end;}
.align-content-center {align-content: center;}


/*-------WIDTH---------*/
.w-100 {width: 100%;}
.w-95 {width: 95%;}
.w-90 {width: 90%;}
.w-80 {width: 80%;}
.w-70 {width: 70%;}
.w-65 {width: 65%;}
.w-60 {width: 60%;}
.w-50 {width: 50%;}
.w-40 {width: 40%;}
.w-35 {width: 35%;}
.w-30 {width: 30%;}
.w-20 {width: 20%;}
.w-10 {width: 10%;}
.w-05 {width: 5%;}



/*-------HEIGHT---------*/
.h-100pc {height: 100%;}
/*======================*/
.h-400 {height: 400px;}
.h-330 {height: 330px;}
.h-320 {height: 320px;}
.h-300 {height: 300px;}
.h-250 {height: 250px;}
.h-220 {height: 220px;}
.h-200 {height: 200px;}
.h-100 {height: 100px;}
.h-88 {height: 88px;}
.h-70 {height: 70px;}
.h-50 {height: 50px;}


/*-------H Tags---------*/
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

/*-------LISTS---------*/
.list-type-none {list-style-type: none;}
.list-type-square {list-style-type: square;}
.family-list {list-style-image: url("../img/family-list-icon.png");}
.cruises-list {list-style-image: url("../img/cruises-list-icon.png");}


/*-------BORDER---------*/
.border-top {border-top: 1px solid #BAD240;}
.border-right {border-right: 1px solid #BAD240;}
.border-bottom {border-bottom: 1px solid #BAD240;}
.border-left {border-left: 1px solid #BAD240;}

.h-70pc {height: 70%;}

/*-------BORDER RADIUS---------*/
.radius {border-radius: 10px;}
.top-radius {border-radius: 10px 10px 0 0; overflow: hidden;}


/*-------BG-COLOR---------*/
.bg-color-logo {background-color: #F8EA00;}
.bg-color-link {background-color: #FF827B;}
.bg-color-white {background-color: #fff;}


/*-------COLOR---------*/
.color-white {color: white;}
.color-black {color: black;}
.color-gray {color: gray;}
.color-pink {color: #FF827B;}


/*-------MARGIN---------*/
.margin-auto {margin: 0 auto;}
.margin-btm-50 {margin-bottom: 50px;}
/*======================*/
.margin-90 {margin: 90px;}
.margin-80 {margin: 80px;}
.margin-70 {margin: 70px;}
.margin-60 {margin: 60px;}
.margin-50 {margin: 50px;}
.margin-40 {margin: 40px;}
.margin-30 {margin: 30px;}
.margin-20 {margin: 20px;}
.margin-10 {margin: 10px;}
.margin-0 {margin: 0;}


/*-------PADDING---------*/
.padding-tb-30 {padding: 30px 0;}
.padding-lr-30 {padding: 0 30px;}
.padding-btm-30 {padding-bottom: 30px;}
.padding-rt-30 {padding-right: 30px;}
.padding-lt-30 {padding-left: 30px;}
/*======================*/
.padding-90 {padding: 90px;}
.padding-80 {padding: 80px;}
.padding-70 {padding: 70px;}
.padding-60 {padding: 60px;}
.padding-50 {padding: 50px;}
.padding-40 {padding: 40px;}
.padding-30 {padding: 30px;}
.padding-20 {padding: 20px;}
.padding-10 {padding: 10px;}
.padding-5 {padding: 5px;}
.padding-4 {padding: 4px;}
.padding-3 {padding: 3px;}
.padding-2 {padding: 2px;}
.padding-1 {padding: 1px;}
.padding-0 {padding: 0;}


/*-------FONT-SIZE---------*/
.font-35 {font-size: 35px;}
.font-25 {font-size: 25px;}
.font-15 {font-size: 15px;}
.font-12 {font-size: 12px;}


/*-------TEXT---------*/
.txt-align-center {text-align: center;}


/*-------CLASSES---------*/
.sign-in-title {
	padding: 18px;
}
.your-info {
	padding: 25px; 
}
.sign-in-title {
	font-family: sans-serif;
	font-size: 25px;
	background-color: #F85252;
	color: #fff;
}
.sign-in-title > * {padding-right: 10px;}
.your-info {padding-top: 10px; color: grey;}
.your-info form > * {
	font-family: sans-serif;
	display: block;
	width: 100%;
	margin: 15px 0;
}

form > input[type="email"], form > input[type="password"] {
	border-radius: 5px;
	border: 0;
	background-color: gainsboro;
	padding: 10px;
}

form input[type="submit"] {
	margin: 20px auto;
	padding: 10px 25px;
	color: #fff;
	background-color: #31CC7E;
	border-radius: 5px;
	border: 0;
	width: 30%;
}
input[type="password"]::placeholder {
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 1px;
}



















