/*------CLASS--------*/
.info {border-bottom: 1px solid gray;}
.site-adress span {display: block;}
.logo {margin-right: 20px;}
.logo-title {padding-top: 20px;}
.logo-title h1, .logo-title h2 {
	margin: 0;
	padding: 0;
}

.info:nth-child(3) .info-description div {
	width: 150px;
}
/*------TAG--------*/
body {
	margin: 0;
	padding: 0;
}
header {
	background-color: #EDEDED;
	padding: 20px 40px 20px;
	border-bottom: 2px solid orangered;
}
section {
	background-color: #FFF;
	padding: 0 40px;
}
img {
	border-radius: 50%;
	/*border: 5px solid #fff;*/
	width: 100px;
	height: 100px;
}
h3 {margin-bottom: 0;}

/*------DISPLAY--------*/
.d-flex {display: flex;}
.justify-center {justify-content: center;}
.space-between {justify-content: space-between;}
.align-center {align-items: center;}

/*-------WIDTH-------*/
.w-10 {width: 10%;}
.w-30 {width: 30%;}
.w-70 {width: 70%;}
.w-90 {width: 90%;}

/*-------TEXT-------*/
.txt-center {text-align: center;}

/*------OUTLINE--------*/
.out {outline: 5px solid #fff;}

/*-------COLOR-------*/
.color-white {color: #fff;}
.color-grey {color: grey;}
.color-orange {color: orangered;}

/*-------FONT-------*/
.f-size {font-size: 18px;}
.f-weight {font-weight: bold;}
.italic {font-style: italic;}