/*------CLASS--------*/
.container {
	width: 960px;
	margin: 10px auto;
}
.site-name {margin-left: 90px;}
.qalareya {margin-bottom: 40px;}
.bottom a {
	display: inline-block;
	background-color: #97ACAF; 
	padding: 10px; 
	color: #000;
	margin-top: 5px;
}
.subscribe {padding-right: 20px;}
.services {border-left: 1px solid #fff; padding-left: 20px;}
/*------TAG--------*/
body {
	margin: 0;
	padding: 0;
}
header {
	height: 240px;
	padding-top: 60px;
	background-image: url("../img/photo2.jpg");
	background-position: 300px;
	background-size: 1072px;
}
nav ul {padding: 10px 0;}
aside {padding-right: 50px;}
section {
	background-color: #FFF;
	padding: 0 40px;
}
img {
	border-radius: 50%;
	/*border: 5px solid #fff;*/
	width: 100px;
	height: 100px;
}
h1, h2, h3, h4, h5, h6 {margin: 0;}
a {
	text-decoration: none;
	color: #fff;
}
footer {
	border-top: 1px solid #fff;
	margin-top: 45px;
	height: 70px;
}

/*------DISPLAY--------*/
.d-flex {display: flex;}
.justify-center {justify-content: center;}
.space-between {justify-content: space-between;}
.space-around {justify-content: space-around;}
.align-center {align-items: center;}

/*-------WIDTH-------*/
.w-10 {width: 10%;}
.w-20 {width: 20%;}
.w-30 {width: 30%;}
.w-50 {width: 50%;}
.w-70 {width: 70%;}
.w-80 {width: 80%;}
.w-90 {width: 90%;}

/*-------TEXT-------*/
.txt-center {text-align: center;}

/*------OUTLINE--------*/
.out {outline: 5px solid #fff;}

/*-------COLOR-------*/
.color-white {color: #fff;}
.color-grey {color: grey;}
.color-orange {color: orange;}
.color-97ACAF {color: #97ACAF;}

.bg-color-212B2D {background-color: #212B2D;}
.bg-color-343E40 {background-color: #343E40;}

/*-------FONT-------*/
.f-size {font-size: 18px;}
.f-weight {font-weight: bold;}
.italic {font-style: italic;}

/*-------LIST-------*/
.list-style {list-style-type: none;}

/*-------OUTLINE-------*/
.out {outline: 1px solid #fff;}