body {padding: 0; margin: 0;}

.bg-color {background-color: #001736;}
.d-flex {display: flex;}
.out {outline: 1px solid red;}
.txt-center {text-align: center;}
.txt-indent {text-indent: 0px;}
.color-silver {color: silver;}

.container > header, section div:not(.sekil), footer {
	background-color: #0E264B;
	overflow: hidden;
	color: #ffffff;
	margin: 4px 4px 10px 4px;
	padding: 30px;
}
section > div:first-child {
	margin: 10px 5px -15px 5px;
}
.container > * a {
	color: white;
	text-decoration: none;
}
	img {
		width: 100%;
		height: 350px;
		object-fit: cover;
	}