/*------CLASS--------*/
.container {
	border-radius: 10px;
	overflow: hidden;
	width: 60%;
	margin: 30px auto 0;
	font-family: arial;
	box-shadow: 0px 7px 10px 0px grey;
}
.item {padding: 10px 15px 10px 15px;}
.item:nth-child(even) {background-color: #D3D7D8;}
.d-sekil {margin-right: 40px}
.d-aciqlama {
	background-color: #ECF0F1;
	padding: 15px;
	border-radius: 10px;
}

/*------TAG--------*/
body {height: 700px;}
header {
	background-color: #3598DB;
	padding: 20px;
}
section {
	background-color: #DDE1E2;
	height: 600px;
}
img {
	border-radius: 50%;
	border: 5px solid #fff;
	width: 100px;
	height: 100px;
}

/*------DISPLAY--------*/
.d-flex {display: flex;}
.justify-center {justify-content: center;}
.align-center {align-items: center;}
.direction-column {flex-direction: column;}

/*-------WIDTH-------*/
.w-90 {width: 90%;}
.w-80 {width: 80%;}
.w-20 {width: 20%;}
.w-10 {width: 10%;}

/*-------TEXT-------*/
.txt-center {text-align: center;}

/*------OUTLINE--------*/
.out {outline: 5px solid #fff;}

/*-------COLOR-------*/
.color-white {color: #fff;}
.color-grey {color: grey;}

/*-------FONT-------*/
.f-size {font-size: 18px;}
.f-weight {font-weight: bold;}