/*-------NORMALIZE---------*/
*, *:before, *:after { box-sizing: border-box;}
body {margin: 0;padding: 0;}
a {text-decoration: none; color: #000; font-family: sans-serif; text-transform: uppercase; font-weight: bold; font-size: 15px;}
ul {padding: 0;}
img {display: block;}

/*-------GENERAL CLASS---------*/
.container {width: 650px; margin: 0 auto;}

/*-------WIDTH---------*/
.w-100 {width: 100%;}
.w-95 {width: 95%;}
.w-90 {width: 90%;}
.w-80 {width: 80%;}
.w-70 {width: 70%;}
.w-65 {width: 65%;}
.w-60 {width: 60%;}
.w-50 {width: 50%;}
.w-40 {width: 40%;}
.w-35 {width: 35%;}
.w-30 {width: 30%;}
.w-20 {width: 20%;}
.w-10 {width: 10%;}
.w-05 {width: 5%;}

/*-------HEIGHT---------*/
.h-100pc {height: 100%;}
/*======================*/
.h-400 {height: 400px;}
.h-330 {height: 330px;}
.h-300 {height: 300px;}
.h-250 {height: 250px;}
.h-230 {height: 230px;}
.h-200 {height: 200px;}
.h-100 {height: 100px;}
.h-88 {height: 88px;}
.h-70 {height: 70px;}
.h-50 {height: 50px;}


/*-------FLEX---------*/
.d-flex {display: flex;}
.justify-around {justify-content: space-around;}
.justify-center {justify-content: center;}
.justify-between {justify-content: space-between;}
.align-items-center {align-items: center;}
.align-items-end {align-items: flex-end;}

/*-------H Tags---------*/
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

/*-------LISTS---------*/
.list-type-none {list-style-type: none;}
.list-type-square {list-style-type: square;}


/*-------BORDER---------*/
.border-top {border-top: 1px solid #BAD240;}
.border-right {border-right: 1px solid #BAD240;}
.border-bottom {border-bottom: 1px solid #BAD240;}
.border-left {border-left: 1px solid #BAD240;}

/*-------BG-COLOR---------*/
.bg-color-discount {background-color: #62BE77;}

/*-------COLOR---------*/
.color-white {color: white;}
.color-black {color: black;}
.color-gray {color: gray;}

/*-------MARGIN---------*/
.margin-auto {margin: 0 auto;}
.margin-btm-50 {margin-bottom: 50px;}
/*======================*/
.margin-90 {margin: 90px;}
.margin-80 {margin: 80px;}
.margin-70 {margin: 70px;}
.margin-60 {margin: 60px;}
.margin-50 {margin: 50px;}
.margin-40 {margin: 40px;}
.margin-30 {margin: 30px;}
.margin-20 {margin: 20px;}
.margin-10 {margin: 10px;}
.margin-0 {margin: 0;}

.mt-2 { margin-top: 2rem }

/* .mt-90 { margin-top: 90px; }
.m-90 { margin: 90px; }

.py-30 {
	padding-top: 30px;
	padding-bottom: 30px;
} */

/*-------PADDING---------*/
.padding-tb-30 {padding: 30px 0;}
.padding-btm-30 {padding-bottom: 30px;}
.padding-rt-30 {padding-right: 30px;}
.padding-lt-30 {padding-left: 30px;}
/*======================*/
.padding-90 {padding: 90px;}
.padding-80 {padding: 80px;}
.padding-70 {padding: 70px;}
.padding-60 {padding: 60px;}
.padding-50 {padding: 50px;}
.padding-40 {padding: 40px;}
.padding-30 {padding: 30px;}
.padding-20 {padding: 20px;}
.padding-10 {padding: 10px;}
.padding-0 {padding: 0;}

/*-------FONT-SIZE---------*/
.font-35 {font-size: 35px;}
.font-25 {font-size: 25px;}
.font-15 {font-size: 15px;}
.font-12 {font-size: 12px;}

/*-------TEXT---------*/
.txt-align-center {text-align: center;}

.img-responsive {
	display: block;
	width: 100%;
}

.fit-cover { object-fit: cover }

/*-------CLASSES---------*/
.middle-photos { height: 250px; }

/*==========HEADER==========*/
	


