/*======== Shablon ===========*/
.dflex {display: flex;}
.dblock {display: block;}

.justify-center {justify-content: center;}
.justify-end {justify-content: flex-end;}
.justify-around {justify-content: space-around;}
.justify-between {justify-content: space-between;}
.align-center{align-items: center;}
.direction-row {flex-direction: row;}
.direction-col {flex-direction: column;}
.align-c-end {align-content: flex-end;}
.align-c-center {align-content: center;}

.h-5pc {height: 5%;}
.h-15pc {height: 15%;}
.h-25pc {height: 25%;}
.h-85pc {height: 85%;}
.h-90pc {height: 90%;}
.h-95pc {height: 95%;}
.h-inherit {height: inherit;}
.h-70px {height: 70px;}
.h-10px {height: 10px;}

.w-inherit {width: inherit;}
.w-70px {width: 70px;}
.w-10px {width: 10px;}


.m-0 {margin: 0;}
.mx-15px {margin: 0 15px;}

.p-0 {padding: 0;}
.py-20px {padding: 20px 0;}
.pt-50 {padding-top: 50px;}
.pb-5px {padding-bottom: 5px;}
.pb-15px {padding-bottom: 15px;}

.bradius-50 {border-radius: 50%;}
.bc-white {border-color: white;}
.b1pxsolid {border: 1px solid;}

.f-60px {font-size: 60px;}
.f-30px {font-size: 30px;}
.f-20px {font-size: 20px;}
.f-10px {font-size: 10px;}

.text-center {text-align: center;}

.reqem {
	border: 1px solid white;
	border-radius: 50%;
}

.blur {
	position: absolute;
	top: 0; left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-image: url("wallpaper.jpg");
	background-position: center;
	background-size: contain;
	/*filter:blur(5px);*/
	filter:none;
}
/*======== Elemente Mudaxile ===========*/
body {
	background-color: #202124 !important;
	color: white;
}
	.container {
		position: relative;
		z-index: 1;
		padding: 8px;
		width: 300px;
		height: 500px;
		box-shadow: 0px 10px 15px gray;
	}
		a {
			text-decoration: none;
			color: white;
		}